@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Larsseit";
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #22356F;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    color: #22356F;
    text-decoration: none;
}
.container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 27px 0 75px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;  
}
.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__list-item + .menu__list-item {
    margin-left: 20px;
}
.menu__list-link:hover {
    border-bottom: 1px solid #22356F;
}
.header__btn {
    background-color: #62D0DF;
    border-radius: 50px;    
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    z-index: 10;
    font-weight: 500;
}
.header__bottom {
    position: relative;
    padding-top: 175px;
}
.header__bottom-inner {
    max-width: 500px;
}
.header__bottom-logo {
    display: block;
    margin-bottom: 25px;
}
.header__title {
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 75px;
    font-weight: 700;
}
.header__text {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 75px;
}
.header__bottom-btn {
    background-color: #F9B640;
    color: #fff;
    font-size: 16px;
    line-height: 23px;  
    padding: 10px 30px;
    font-weight: 500;
}
.header__image {
    position: absolute;
    top: 0;
    right: 0;
}
.descr {
    background-color: #62D0DF;
    color: #fff;
    position: relative;
    padding: 150px 0 95px;
    height: 604px;
}
.descr__inner {
    max-width: 555px;
}
.descr__title {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 27px;
    font-weight: 700;
}
.descr__text {
    line-height: 29px;
    font-size: 16px;
}
.descr__text span {
    font-size: 20px;
    font-weight: 500;
}
.descr__image {
    position: absolute;
    right: 0;
    top: 0;
}
.about__inner {
    padding: 150px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
}
.about__title {
    font-size: 16px;
    line-height: 23px;
}
.about__text {
    max-width: 600px;
    padding: 0;
    margin: 0;
}