@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit.woff2") format("woff2"),
    url("../fonts/Larsseit.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Larsseit";
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #22356F;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
a {
    color: #22356F;
    text-decoration: none;
}
.container {
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}
.container-sub {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.header {
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 27px 0 75px;

}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
}
.menu__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu__list-item + .menu__list-item {
    margin-left: 20px;
}
.menu__list-link:hover {
    border-bottom: 1px solid #22356F;
}
.header__btn {
    background-color: #62D0DF;
    border-radius: 50px;    
    width: 150px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    z-index: 10;
    font-weight: 500;
}
.header__bottom {
    padding-top: 175px;
}
.header__bottom-inner {
    max-width: 500px;
}
.header__bottom-logo {
    display: block;
    margin-bottom: 25px;
}
.header__title {
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 75px;
    font-weight: 700;
}
.header__text {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 75px;
}
.header__bottom-btn {
    background-color: #F9B640;
    color: #fff;
    font-size: 16px;
    line-height: 23px;  
    padding: 10px 30px;
    font-weight: 500;
}
.header__image {
    position: absolute;
    top: 0;
    right: 0;
}
.descr {
    background-color: #62D0DF;
    color: #fff;
    padding: 150px 0 95px;
    height: 604px;
}
.descr__inner {
    max-width: 555px;
}
.descr__title {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 27px;
    font-weight: 700;
}
.descr__text {
    line-height: 29px;
    font-size: 16px;
}
.descr__text span {
    font-size: 20px;
    font-weight: 500;
}
.descr__image {
    position: absolute;
    right: 0;
    top: -150px;
}
.about__inner {
    padding: 150px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}
.about__title {
    font-size: 16px;
    line-height: 23px;
}
.about__text {
    max-width: 600px;
    padding: 0;
    margin: 0;
}
.benefits {
    padding: 70px 0 40px;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
}
.benefits__title {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #22356F;
    margin-bottom: 25px;
}
.benefits__items-first {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 120px;
}
.benefits__item {
    height: 360px;
    padding: 70px 45px;
}
.benefits__item-title {
    border-top: 1px solid #fff;
    padding-top: 25px;
    padding-left: 32px;
    position: relative;
}
.benefits__item-title::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #E9B730;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 0;
}
.benefits__items-second {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 25px;
}
.benefits__info {
    color: #22356F;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.benefits__info-item {
    padding: 55px 75px 35px 105px;
    height: 240px;
}
.benefits__info-title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
}
.benefits__info-text {
    font-size: 16px;
    line-height: 25px;
}
.info__item {
    display: flex;
    justify-content: flex-start;
}
.info__content {
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 0 150px;
}
.info__content-descr {
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
}
.info__content-text {
    font-size: 36px;
    line-height: 53px;
    font-weight: 500;
}
.info__content-text .allot{
    color: #6CD3E1;
}
.info__content-help {
    color: #FAB63E;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 23px;
}
.info__item-blue {
    color: #fff;
    background-color: #22356F;
}
.info__content-contact {
    font-size: 16px;
    line-height: 12px;
    color: #fff;
    text-transform: uppercase;
}
.info__content-title {
    display: block;
    font-size: 64px;
    line-height: 94px;
    font-weight: 700;
    margin-bottom: 75px;
}
.info__item-blue .info__content-help {
    color: #62D0DF;
    text-transform: uppercase;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__content {
    display: flex;
    justify-content: space-around;
    max-width: 765px;
}
.footer__content div {
    flex-basis: 210px;
}
.footer__title {
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    margin-bottom: 55px;
}
.footer__text {
    font-size: 14px;
    line-height: 23px;
    color: rgba(34, 53, 111, 0.5);
    padding: 0;
    margin: 0;
}
.footer__bottom {
    background-color: #62D0DF;
    padding: 25px 0;
    color: #fff;
    font-size: 14px;
    line-height: 11px;
    font-weight: 500;
}